<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="./styles/RegistrationStyle.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="page">
      <form action="/registration/auth" method="POST">
        <label>Podaj nazwe uzytkownika </label>
        <input type="text" name="username" />
        <label>Podaj Hasło </label>
        <input type="password" name="password" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
